.navbar-inverse {
    /*
    background-color: beige;
    border-color: beige;
    */
}

.container{
	
	background-color: beige;
	border-radius:6px;
}

.row{
	/*border:1px solid black;
	background-color: aliceblue;
	border-radius:6px;
	*/
}
thead{
	background-color: #007fff;
}
th{
	color:white;
	border-right:1px solid white;
}
.btn-primary {
    color: #fff;
    background-color: #007fff;
   /* background-color: #337ab7;
    border-color: #2e6da4;*/
}
h3{
	color: #007fff;
	text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    background-color: transparent;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover {
color: #007fff;
	
}	

.dropdown:hover .dropdown-menu{
	display: block;
}
